.w240 {
    width: 240px;
    height: 34px;
}

.itemsComp {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;

    .centers {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 110px 120px 20px 120px;
        .tabbles {
            &.itemtable {
                height:calc(100% - 121px)!important;
            }
            .el-table {
                height: 100% !important;
            }
        }

        .dialog {
            .cjtabbles {}
        }

        .Fpage {
            display: flex;
            justify-content: center;
        }
    }
}