
.ageDialog {
	.el-checkbox-group {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.el-checkbox {
		background-color: #F5F7FA;
		width: 19.6%;
		padding: 2px 5px;
		margin-bottom: 10px;
		margin-right: 10px;
		border-radius: 4px;
	}
}
.radioBox {
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	.el-radio {
		// display: inline-block;
		width: 50%;
		margin-bottom: 10px;
		margin-right: 0;
	}
}
