.outerDiv {
    &_charts {
        height: 55%;
        padding-top: 60px;
    }

    &_table {
        padding: 0 !important;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
    }

    .ziyou {
        &_chart {
            height: calc(100% - 50px);
            overflow: auto;
            padding: 0 20px;
            .el-alert {
                margin-bottom: 20px;
            }

            h2 {
                text-align: center;
                font-size: 24px;
                margin-bottom: 30px;
                color: #606266;
            }

            .chart {
                border-radius: 10px;
                // overflow: hidden;
                flex-basis: 100%;
                height: 340px;
                margin-bottom: 60px;
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;

                &.ts {
                    height: 440px;
                    box-shadow: 0px 0px 30px rgb(240, 240, 240);
                }

                &.ts2 {
                    height: 380px;
                    flex-wrap: wrap;

                    .ts2_box {
                        height: 100%;
                        flex-basis: 40%;
                    }

                    .ts2_box2 {
                        height: 100%;
                        flex-basis: 57%;
                    }
                }
            }

            &_top {

                &left,
                &right {
                    border-radius: 10px;
                    overflow: hidden;
                    flex-basis: 48%;
                    height: 100%;
                    flex-wrap: wrap;
                    background-color: #fff;
                    box-shadow: 0px 0px 30px rgb(240, 240, 240);

                    &.ts {
                        height: 85%;
                    }

                }

                &left {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h2 {
                        height: 15%;
                        margin-bottom: 0;
                        box-sizing: border-box;
                    }

                    p {
                        flex-basis: 100%;
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 20%;
                        background-color: rgba(240, 240, 240, .8);

                        span {
                            &:nth-child(2) {
                                font-weight: bold;
                                padding: 0 20px;
                            }

                            &.top {
                                color: red;
                            }

                            &.bot {
                                color: green;
                            }
                        }
                    }
                }

                &right {}
            }

            &_bottom {
                flex-basis: 100%;
                height: 60%;
            }
        }

        &_list {
            height: calc(100% - 100px);

            &.ts {
                .strategyNormal {
                    height: calc(100% - 80px);
                }

            }

            .content {
                padding-top: 0;
            }
        }
    }
}

#pieBox,
#barBox,
#lineBox {
    width: 100%;
    height: 100%;
    display: inline-block;
}

#barBox {
    height: 80%;

    &.ts {
        height: 65%;
    }
}

#barBox1 {
    width: 100%;
    height: 80%;
    display: inline-block;
}

#lineBox1 {
    width: 100%;
    height: 100%;
    display: inline-block;
}

svg {
    width: 30px;
    height: 30px;
}

.infotip:before {
    margin-right: 5px;
}