.adInoDialog {
    background: url(../../assets/images/adbg.png) no-repeat 0 100%;
    background-size: cover;
    height: 500px !important;
    display: flex;
    justify-content: space-between;
    overflow: auto;

    img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 180px;
    }

    &.msgDialog {
        background-color: #3b8eff52;
    }

    &_left {
        width: 200px;
        padding: 0 0 30px 0;
        background-color: #3b8eff5c;
        box-sizing: border-box;
        height: 100%;

        .el-menu {
            border: none;

            &-vertical {
                background-color: transparent;

            }

            &-item {
                padding-left: 30px !important;

                &.is-active {
                    background-color: #e4f2ffe6;
                }
            }
        }

        &.msgDialog_left {
            background-color: transparent;
        }
    }

    &_right {
        width: calc(100% - 200px);
        background-color: #ffffffcf;
        padding: 30px 40px;

        &.msgDialog_right {
            overflow: auto;
        }
    }

    &_header {
        margin-bottom: 20px;

        h1 {
            font-size: 22px;
            text-align: center;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 16px;
            text-align: center;
            font-weight: normal;
            color: #909399;
        }
    }

    &_body {
        margin-bottom: 40px;
        height: 260px;
        overflow: auto;

        .desc {
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 22px;
            text-indent: 2em;
            color: #606266;

            &.desc2 {
                text-indent: 2em;
                margin-bottom: 20px;
            }
        }

        .part {
            margin-bottom: 20px;

            p {
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 8px;
                padding-left: 30px;
                color: #606266;

                .cnt {
                    margin-right: 5px;
                }

                &:last-child {
                    font-size: 14px;
                    color: #f56c6c;
                    padding-top: 18px;
                }
            }

            a {
                text-decoration: underline !important;
            }
        }

    }

    &_btn {
        text-align: center;
        position: relative;

        .cp {
            position: absolute;
            top: -30px;
            right: 20px;
        }
    }


}

h4 {
    cursor: pointer;
}