@font-face {
  font-family: "iconfont"; /* Project id 2894766 */
  src: url('iconfont.woff2?t=1639022174769') format('woff2'),
       url('iconfont.woff?t=1639022174769') format('woff'),
       url('iconfont.ttf?t=1639022174769') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user__easyico:before {
  content: "\e606";
}

.icon-sangjitu1:before {
  content: "\e66f";
}

.icon-icon_sangjitu:before {
  content: "\e797";
}

.icon-ziyuan22:before {
  content: "\e70a";
}

.icon-monitor-tv-svgrepo-com:before {
  content: "\e70b";
}

.icon-xiaoguopinggu:before {
  content: "\e72f";
}

.icon--bingzhuangtu:before {
  content: "\e844";
}

.icon-bingzhuangtu:before {
  content: "\e60c";
}

.icon-shoujirenwujiankong:before {
  content: "\e677";
}

.icon-xiaoguofenxi:before {
  content: "\e660";
}

.icon-picture__easy:before {
  content: "\e605";
}

.icon-shujuxiugai:before {
  content: "\e615";
}

.icon-sangjitu:before {
  content: "\e627";
}

.icon-caijian:before {
  content: "\e748";
}

.icon-caijian1:before {
  content: "\e62d";
}

.icon-tupian:before {
  content: "\e6bb";
}

.icon-caijiandan:before {
  content: "\e6ac";
}

.icon-dongtaicaijian:before {
  content: "\e7c3";
}

.icon-13edit:before {
  content: "\e62a";
}

.icon-015-file:before {
  content: "\e6f1";
}

.icon-shangpincanshumoban:before {
  content: "\e61d";
}

.icon-statistical:before {
  content: "\e604";
}

.icon-celvejiancha:before {
  content: "\e6aa";
}

.icon-mobanguanli:before {
  content: "\e6a7";
}

.icon-excel:before {
  content: "\e61e";
}

.icon-duliangtubiao:before {
  content: "\e66d";
}

.icon-yuanyujing:before {
  content: "\e62b";
}

.icon-yujingfenxi:before {
  content: "\e87f";
}

.icon-icon-sangjitu:before {
  content: "\e6a1";
}

.icon-xiaomi:before {
  content: "\e661";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-pay-jingdong:before {
  content: "\e8dd";
}

.icon-fawenguanli:before {
  content: "\e603";
}

.icon--:before {
  content: "\e61c";
}

.icon-nanxing-guanliyuan:before {
  content: "\e64c";
}

.icon-fasong:before {
  content: "\ec48";
}

.icon-baobiao:before {
  content: "\e902";
}

.icon-toufang:before {
  content: "\e643";
}

.icon-houtaiguanli-quanxianguanli:before {
  content: "\e637";
}

.icon-wushuju:before {
  content: "\e642";
}

.icon-RectangleCopy:before {
  content: "\e6e0";
}

.icon-yangshengqi:before {
  content: "\e602";
}

.icon-shouji:before {
  content: "\e601";
}

.icon-tcdl:before {
  content: "\e60b";
}

.icon-shujutongji:before {
  content: "\e600";
}

.icon-shouzhi:before {
  content: "\e69b";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-xiangmu:before {
  content: "\e60a";
}

.icon-gongju:before {
  content: "\e61f";
}

.icon-gonggongziliao:before {
  content: "\e7d1";
}

