@font-face {
  font-family: "iconfont"; /* Project id 2894766 */
  src: url('iconfont.woff2?t=1639624444409') format('woff2'),
       url('iconfont.woff?t=1639624444409') format('woff'),
       url('iconfont.ttf?t=1639624444409') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e631";
}

.icon-jinggao1:before {
  content: "\e616";
}

.icon-chenggong:before {
  content: "\e61a";
}

.icon-jiaosexiugai:before {
  content: "\e690";
}

.icon-huodongjilu:before {
  content: "\e630";
}

.icon-icon_zhongdashixiangyujingshenhe:before {
  content: "\e880";
}

.icon-icon_zhongdashixiangyujingtaizhang:before {
  content: "\e881";
}

.icon-jinggao:before {
  content: "\ecab";
}

.icon-jianzhibiaoge:before {
  content: "\e652";
}

.icon-lunbobiaoge:before {
  content: "\e62f";
}

.icon-021-file:before {
  content: "\e6f2";
}

.icon-shichangjiandu:before {
  content: "\e653";
}

.icon-yusuanzhaobiaoxiangmu:before {
  content: "\e6b1";
}

.icon-huodong:before {
  content: "\e60d";
}

.icon-pinpai:before {
  content: "\e662";
}

.icon-icon_yujinggenzong-jiechushenqing:before {
  content: "\e87e";
}

.icon-moban:before {
  content: "\e68d";
}

.icon-moban1:before {
  content: "\e620";
}

.icon-celveshishi:before {
  content: "\e72c";
}

.icon-daochumoban:before {
  content: "\e69c";
}

.icon-user__easyico:before {
  content: "\e606";
}

.icon-sangjitu1:before {
  content: "\e66f";
}

.icon-monitor-tv-svgrepo-com:before {
  content: "\e70b";
}

.icon--bingzhuangtu:before {
  content: "\e844";
}

.icon-xiaoguofenxi:before {
  content: "\e660";
}

.icon-caijiandan:before {
  content: "\e6ac";
}

.icon-13edit:before {
  content: "\e62a";
}

.icon-015-file:before {
  content: "\e6f1";
}

.icon-shangpincanshumoban:before {
  content: "\e61d";
}

.icon-excel:before {
  content: "\e61e";
}

.icon-yuanyujing:before {
  content: "\e62b";
}

.icon-yujingfenxi:before {
  content: "\e87f";
}

.icon-xiaomi:before {
  content: "\e661";
}

.icon-douyin:before {
  content: "\e8db";
}

.icon-pay-jingdong:before {
  content: "\e8dd";
}

.icon-fawenguanli:before {
  content: "\e603";
}

.icon--:before {
  content: "\e61c";
}

.icon-nanxing-guanliyuan:before {
  content: "\e64c";
}

.icon-fasong:before {
  content: "\ec48";
}

.icon-baobiao:before {
  content: "\e902";
}

.icon-toufang:before {
  content: "\e643";
}

.icon-houtaiguanli-quanxianguanli:before {
  content: "\e637";
}

.icon-wushuju:before {
  content: "\e642";
}

.icon-RectangleCopy:before {
  content: "\e6e0";
}

.icon-yangshengqi:before {
  content: "\e602";
}

.icon-shouji:before {
  content: "\e601";
}

.icon-tcdl:before {
  content: "\e60b";
}

.icon-shujutongji:before {
  content: "\e600";
}

.icon-shouzhi:before {
  content: "\e69b";
}

.icon-charutupian:before {
  content: "\ec7f";
}

.icon-xiangmu:before {
  content: "\e60a";
}

.icon-gongju:before {
  content: "\e61f";
}

.icon-gonggongziliao:before {
  content: "\e7d1";
}

