.layout {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    // padding-top: 80px;
    &_menu {
        position: absolute;
        left: 0;
        top: 80px;
        padding-top: 50px;
        height: calc(100% - 130px);
        width: 200px;
    }
    /deep/.el {
        &-submenu {
            &__title {
                font-weight: bold;
                .iconfont {
                    margin-right: 10px;
                }
    
            }
        }
        &-menu--inline{
            box-sizing: border-box;
            // padding-left: 30px;
            overflow: hidden;
        }

    }
}