/deep/.el-tag {
    margin: 0 10px 0 0!important;
    color: #2066BD;
    width: 60px;
    text-align: center;
}

/deep/.dialogJb {
    width: 600px!important;
    .el-dialog__body {
        padding: 20px 30px 0 30px;
        .el-form-item {
            &__label {
                width: 120px!important;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
            }
            &__content {
                width: calc(100% - 120px)!important;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;                
                .el-select,
                .el-input {
                    width: 100%;
                }
            }
            &.tagBox {
                padding-left: 120px;
                .el-form-item__content {
                    width: 100%!important;
                }
                .el-tag {
                    width: 80px;
                }
            }
            &.lw {
                .el-form-item__label {
                  width: 70px!important;
                  text-align: left;
                }
                .el-form-item__content {
                    width: calc(100% -70px)!important;
                    .el-input {
                        width: 100%;
                    }
                  }
              }
        }
    }
}
/deep/.send {
    display: flex;
    overflow: hidden;
}
/deep/.upobtn {
    padding-left: 120px;
}
/deep/.namelist {
    width: 120px;
    height: 240px;
    text-align: right;
    .el-tag {
      color: #2066bd;
    }
  }
  /deep/.btnSizeBig {
    padding: 5px 5px;
    height: 38px;
    border: 1px solid #0051b3;
    color: #2066bd;
    text-align: center;
    cursor: pointer;
    line-height: 38px;
  }
  /deep/.detail {
	&_btn {
		margin: 20px 0;
		text-align: right;
	}
}
/deep/.editDia {
	.namelist {
		width: 100%;
        height: auto;
        overflow-x: hidden;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            // align-items: center;
            li {
                width: 12%;
                margin-bottom: 10px;
            }
            span {
                // width: 20%;
            }
        }
	}
}
/deep/.el {
    &-collapse-item__content {
        padding-bottom: 10px;
    }
}
/deep/.el-checkbox {
    &__label {
        font-size: 12px;
        // margin-bottom: 12px;
    }
    &-group {
        display: flex;
        flex-wrap: wrap;
        // padding: 0 30px;
        .el-checkbox {
            width: 49%;
            font-size: 12px;
            box-sizing: border-box;
            padding: 0 20px;
            margin: 1% 1% 2% 0;
            background-color: #ecf5ff;
            &__label {
                font-size: 12px;
            }
        }
    }

}