@import "reset";

.el-button--text {
    color: #2066BD;
}
.el-input__inner:focus {
    border-color: #2066BD!important;

}
.el-select-dropdown__item.selected {
    color: #2066BD;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2066BD!important;
    border-color: #2066BD;
}
.el-radio__input.is-checked {
    &+.el-radio__label {
        color: #2066BD;

    }
    .el-radio__inner {
        background-color: #2066BD;
        border-color: #2066BD;
    }
}
.el-tabs__item {
    &:hover {
        color: #2066BD!important;
    }
    &.is-active {
        color: #2066BD!important;
    }
}
.el-pagination.is-background .el-pager li:not(.disabled) {
    &.active {
        background-color: #2066BD;
    }
    &:hover {
        // color: #2066BD;
    }
}
.el-message-box__close:hover {
    &:before {
        color: #2066BD;
    }
}
.el-message-box__btns {
    .el-button--default:hover {
        border-color: #2066BD;
        background-color: #2066BD;
        color: #fff;
    }
    .el-button--primary {
        background-color: #2066BD;
        border-color: #2066BD;
    }
}
.el-table {
    .cell {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.poperNotice {
    padding: 12px 12px 0 12px;
    .down {
        font-size: 14px;
        color: #666;
        line-height: 20px;
        margin-bottom: 12px;
        a {
            font-size: 12px;
            color: #2066BD;
            float: right;
        }
    }
}
.el-dialog__body {
    padding: 30px;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #2066BD;
}
.el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path {
    color: #2066BD;
}
// .el-scrollbar__wrap { overflow: scroll; width: 104%; height: 108%; } 
// .el-scrollbar__wrap { overflow-x: hidden;} 
.el-scrollbar__bar.is-horizontal {
    display: none;
}
    /**滚动条的宽度*/
    ::-webkit-scrollbar {
        width: 5px;/*竖向*/
        height: 5px;/*横向*/
    }
 
    /*滚动条的滑块*/
    ::-webkit-scrollbar-thumb {
        background-color: #409EFF;
        border-radius: 3px;
    }

// .el-select-dropdown.el-popper {
//     width: 29%;
//     padding: 10px 0;
// }
.tagBox {
    .el-form-item {
        &__content {
            // display: flex;
            // justify-content: flex-start;
            // flex-wrap: wrap;
            height: 150px;
            span {
                width: 18%;
                margin: 0 1% 1% 1%!important;
                cursor: pointer;
            }
        }
    }

}