@import "reset";

.el-button--text {
    color: #2066BD;
}
.el-input__inner:focus {
    border-color: #2066BD!important;

}
.el-select-dropdown__item.selected {
    color: #2066BD;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2066BD!important;
    border-color: #2066BD;
}
.el-radio__input.is-checked {
    &+.el-radio__label {
        color: #2066BD;

    }
    .el-radio__inner {
        background-color: #2066BD;
        border-color: #2066BD;
    }
}
.el-tabs__item {
    &:hover {
        color: #2066BD!important;
    }
    &.is-active {
        color: #2066BD!important;
    }
}
.el-pagination.is-background .el-pager li:not(.disabled) {
    &.active {
        background-color: #2066BD;
    }
    &:hover {
        // color: #2066BD;
    }
}
.el-message-box__close:hover {
    &:before {
        color: #2066BD;
    }
}
.el-message-box__btns {
    .el-button--default:hover {
        border-color: #2066BD;
        background-color: #2066BD;
        color: #fff;
    }
    .el-button--primary {
        background-color: #2066BD;
        border-color: #2066BD;
    }
}
.el-table {
    .cell {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.poperNotice {
    padding: 12px 12px 0 12px;
    .down {
        font-size: 14px;
        color: #666;
        line-height: 20px;
        margin-bottom: 12px;
        a {
            font-size: 12px;
            color: #2066BD;
            float: right;
        }
    }
}