.precedence {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}

.strategyNormal {
    .centers {
        background-color: #fff;
        .PriceTops {
            position: relative;
            .search {
                position: absolute;
                right: 0;
                top: 0;
                height: 40px;
                line-height: 40px;
                display: flex;
                .selects {
                    width: 180px;
                    left: 120px;
                    top: 0;
                    margin-right: 20px;
                }
                .inp {
                    width: 180px;
                }
            }
        }

        .tabbles {
            padding-top: 20px;
        }
    }
}