.w320 {
	width: 320px;
}

/deep/.btnnormal {
	background-color: #2066BD;
	border: 1px solid #0051B3;
	text-align: center;
	cursor: pointer;
	padding: 4px 20px;
	min-width: 120px;
	font-size: 12px;
	line-height: 26px;
	vertical-align: 2px;

	&:hover {
		background-color: #5083c0;
	}

	&_down {
		display: inline-block;
		border-radius: 4px;
		background-color: #fff;
		color: #2066BD;

		&:hover {
			background-color: #2066BD;
			color: #fff;
		}
	}
}

/deep/.marginL {
	margin-left: 0 0 0 10px; 
}
/deep/.marginR {
	margin: 0 10px 0 0;
}

.outerDiv {
	// width: 1200px;
	width: 100%;
	height: 100%;
	margin: 0 auto;

	.centerTop {
		padding-top: 20px;
		background-color: #fff;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

		.item {
			text-align: center;
			flex-grow: 1;
		}
	}

	.content {
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
		// display: flex;
		float: right;
		background-color: #fff;
		// flex-direction: row-reverse;
		// flex-wrap: wrap;
		height: 100%;
		width: 100%;

		.form {
			padding-top: 50px;
			width: 100%;
			background-color: #fff;

			.formObj {
				// width:500px;
				width: 100%;
				margin: 0 auto;

				&_ipt {
					/deep/.el-form-item {
						box-sizing: border-box;
						width: 50%;
						display: inline-block;
						// padding: 0 20px;
						padding-right: 50px;
						&__label {
							width: 120px !important;
							display: inline-block;
							font-size: 12px;
							vertical-align: middle;
						}

						&__content {
							width: calc(100% - 120px) !important;
							display: inline-block;
							vertical-align: middle;
							font-size: 12px;
							.el-select {
								width: 100%;
							}
						}

						&.hasdate {
							.el-select {
								width: 30% !important;
							}

							.el-date-editor {
								width: 68% !important;
								margin-left: 2% !important;
							}
						}

						&.trPage {
							.el-input-number {
								width: 50px !important;
							}
						}
					}
				}

				&_upload {
					/deep/.el {
						&-form-item {
							&__content {
								margin-left: 120px !important;
							}
						}

						&-upload-dragger {
							width: 322px;
						}
					}
				}

				&_button {
					display: flex;
					flex-direction: row;
					padding-left: 120px;

					/deep/.el {
						&-form-item {
							&__content {
								margin-left: 0 !important;
							}
						}
					}

					.btnTip {
						color: red;
						font-size: 12px;
						line-height: 30px;
						padding-left: 30px;
					}
				}
			}
		}

		.tableBox {
			// width: 975px;
			width: 100%;
			background-color: #fff;

			&.hasUp {
				height: calc(100% - 510px) !important;
			}

			&.hasUp2 {
				height: calc(100% - 450px) !important;
			}

			.tables {
				width: 88%;
				height: calc(100% - 110px);
				margin: 0 auto;

				.tableTab {
					height: 100%;

					.tableBox {
						width: 100%;
						height: 100% !important;
					}
				}

				.dialog {
					.tips {
						width: 80%;
						height: 50px;
						margin: 0 auto;
						text-align: center;
						font-size: 18px;
						line-height: 50px;
					}

					.tipsItem {
						width: 80%;
						height: 50px;
						margin: 0 auto;
						text-align: center;
						font-size: 12px;
						color: red;
						line-height: 50px;
					}

					.button {
						width: 100px;
						height: 40px;
						margin: 0 auto;
					}
				}
			}

			&.teshu {
				.tableTab {
					.tableBox {
						width: 100%;
						height: calc(100% - 50px) !important;
					}
				}

				&.cls1 {
					height: calc(100% - 535px) !important;
				}

				&.cls2 {
					height: calc(100% - 260px) !important;
				}
			}

			&.jiankong {
				height: calc(100% - 180px);

				.tables {
					height: calc(100% - 50px);

					.tableBox {
						height: 100% !important;
					}

				}
			}
		}
	}
}

/deep/.el {
	&-upload {
		&-dragger:hover {
			border-color: #2066BD;
		}

		&__text {
			em {
				color: #2066BD;
			}
		}
	}
}

.block {
	display: flex;
	flex-direction: row-reverse;
	margin: 20px 0 20px 0;
}

.stateItem {
	/deep/i {
		color: #666;
		&:before {
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
			text-align: center;
			line-height: 20px;
			border-radius: 50%;
			background-color: #ccc;
			color: #fff;
			margin-right: 12px;
		}

		&.suc {
			&:before {
				background-color: #67c23a;
			}
		}

		&.warn {
			animation: none;
			&:before {
				background-color: #e6a23c;
				text-align: center;
			}
		}

		&.dang {
			&:before {
				background-color: #f56c6c;
			}
		}
	}
}