.topTtle {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #303133;
  position: fixed;
  // border-bottom: 1px solid #999;
  z-index: 99;
  &_logo {
    width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #303133;
    cursor: pointer;
    img {
      height: 30px;
      object-fit: cover;
    }
  }
  &_login {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    // background-color: #fff;
    &_tip {
      position: absolute;
      left: 113px;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
	  .el-button {
	  	font-size: 16px!important;
	  	background: transparent!important;
	  }
      .img {
        height: 22px;
        object-fit: cover;
        margin-right: 20px;
      }
      .poperBtn {
        border: none;
        // border-color: #2066bd;
        background-color: transparent;
        outline: 0;
        color: #fff;
        &:hover {
          color: #fff;
          background-color: transparent;
        }
        &:before {
          padding-right: 10px;
        }

      }
    }
    &_user {
      color: #fff;
      width: 300px;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      // padding-right: 100px;
      .user {
        flex-grow: 1;
        width: 220px;
		height: 100%;
		    font-size: 16px;
        text-align: center;
		display: flex;
		align-items: center;
		user-select: none;
      }
	  .titleicon {
		  width: 30px;
		  height: 100%;
		  margin-right: 10px;
	  }
      .logout {
        padding-left: 50px;
        cursor: pointer;
      }
      .phone {
        white-space: nowrap;
        color: #999;
        padding: 5px 20px;
        background-color: #303030;
        border-radius: 30px;
        text-align: center;
      }
    }
  }
}