.strategyNormal {
    width: 100%;
    // height: calc(100% - 60px);
    height: 100%;
    .centers {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        .tabbles {
            // padding-top: 20px;
            height: 100%;
            &.pricetable {
                height: calc(100% - 100px);
            }

            .el-table {
                height: 100% !important;

            }
        }
    }
}

.yes,
.no {
    background-color: #606266;
    padding: 2px 0;
    border-radius: 3px;
    text-align: center;
    color: #fff;
}

.yes {
    background-color: #67c23a
}
.dialogStrategy {
	.el {
		&-form {
			&-item {
				&.oneIpt {
					.el-input-number {
						width: 94%!important;
					}
				}
				&.twoIpt {
					.el-select {
						width: 52%!important;
						margin-right: 2%;
					}
					.el-input-number {
						width: 40%!important;
					}
				}
			}
		}
	}
}