/deep/.send {
  display: flex;
  overflow: hidden;
}

/deep/.upobtn {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  // align-content: center;

  .lficon {
    display: flex;
    align-items: center;

    span {
      &:last-child {
        font-size: 18px;
        margin-left: 10px;
        font-weight: bold;
        color: #606266;
      }

      &:before {
        font-size: 40px;
        color: #3b8eff;
      }
    }

  }

  .el {
    &-row {}

    &-col {}

    &-button {}

    &-form {
      flex: 1;
    }
  }

}

/deep/.btnSizeBig {
  padding: 5px 5px;
  height: 38px;
  border: 1px solid #0051b3;
  color: #2066bd;
  text-align: center;
  cursor: pointer;
  line-height: 38px;
}

/deep/.detail {
  &_btn {
    margin: 20px 0;
    text-align: right;
  }
}

/deep/.el {
  &-collapse-item__content {
    padding-bottom: 10px;
  }

  &-scrollbar__wrap {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }

  &-divider--horizontal {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

/deep/.el {
  &-image {
    width: 24px;
    height: 24px;
    // border-radius: 50%;
    margin-left: 10px;
  }

  &-form-item {
    &.ts {
      .el-form-item__content {
        display: flex;

        .el-select {
          width: 100px !important;
          margin-right: 20px;
        }

        .el-date-editor {
          flex: 1;
        }
      }
    }

    &.action {
      .el-form-item__content {
        width: 100% !important;
      }
    }
  }

  &-checkbox {
    padding: 0 10px !important;

    &__label {
      font-size: 12px;
      // margin-bottom: 12px;
      display: inline-flex;
      align-items: center;
    }

    &-group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      // padding: 0 30px;
      .el-checkbox {
        width: 49%;
        font-size: 12px;
        box-sizing: border-box;
        padding: 0 20px;
        margin: 1% 1% 2% 0;
        background-color: #b3b3b31c;
        border-radius: 5px;

        &__label {
          font-size: 12px;
        }
      }

      &.w3 {
        .el-checkbox {
          width: 32%;
        }
      }
    }

  }

}

/deep/.vxe {

  &-pulldown,
  &-input {
    width: 100%;
  }

  &-input {
    height: 100%;

    &--inner {
      height: auto !important;
    }
  }
}

.dropdownbox {
  padding: 20px 30px;
  box-shadow: 0 0.166667rem 1rem 0 #dbdbdb;
  border: 0.083333rem solid #E4E7ED;
  border-radius: 4px;

  &.ts {
    padding-left: 0;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    color: #303133;

    .lb {
      margin-right: 15px;
      color: #909399;
    }
  }

  .tips {
    font-size: 12px;
    line-height: 24px;
    color: #909399;
    margin-bottom: 20px;
  }

  /deep/.vxe-table--body-wrapper {
    height: 300px;
  }

  /deep/.vxe-body--column {
    height: 40px !important;
    line-height: 20px !important;
  }
}

.ckBoxLine {
  .el-checkbox-group {}

  &_label {
    font-size: 12px;
    line-height: 26px;
    color: #bebebe;
  }

  &_cnt {
    display: flex;
    flex-wrap: wrap;

    label {
      width: 32% !important;
    }
  }
}

.radioLine {
  margin-bottom: 10px;

  &_label {
    font-size: 12px;
    color: #bebebe;
  }

  &_cnt {
    display: flex;
    flex-wrap: nowrap;

    label {
      margin-right: 20px;
    }

    /deep/.el-radio__label {
      font-size: 16px;

    }
  }
}

.budgetDiv {
  display: flex;
  margin-bottom: 20px;
  position: relative;

  .el-date-editor {
    flex-basis: 43%;
    margin-right: 3%;
  }

  .el-input {
    flex-basis: 43%;

  }
}

.addicon {
  position: absolute;
  top: 14px;
  right: 30px;
  cursor: pointer;
}

.delicon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  cursor: pointer;
}

.flexCol {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow: auto;
  padding-left: 108px !important;

  /deep/.el-scrollbar {
    flex-basis: 100%;

    &__view {
      display: flex;
      flex-wrap: wrap;
    }
  }

  /deep/.el-form-item {
    flex-basis: 42%;
    position: relative;
    padding-right: 7%;

    &:hover {
      .delicon {
        display: block;

        &:hover {
          color: red;
        }
      }
    }

    &__content {
      width: 100% !important;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
    }
  }

  /deep/.el-input-group__prepend {
    padding: 0 10px;
  }
}