/deep/.el-tag {
    margin: 0 10px 0 0 !important;
    color: hsl(213, 71%, 43%);
    text-align: center;
}

/deep/.send {
    display: flex;
    overflow: hidden;
}

/deep/.upobtn {
    padding-left: 120px;
    margin-bottom: 24px;
}

// /deep/.namelist {
//     // width: 140px;
//     height: 120px;
//     text-align: right;
//     .el-tag {
//       color: #2066bd;
//     }
//   }
/deep/.btnSizeBig {
    padding: 5px 5px;
    height: 38px;
    border: 1px solid #0051b3;
    color: #2066bd;
    text-align: center;
    cursor: pointer;
    line-height: 38px;
}

/deep/.detail {
    &_btn {
        margin: 20px 0;
        text-align: right;
    }
}

/deep/.el {
    &-collapse-item__content {
        padding-bottom: 10px;
    }

    &-scrollbar__wrap {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }

    &-divider--horizontal {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

/deep/.el-checkbox {
    &__label {
        font-size: 12px;
        // margin-bottom: 12px;
    }

    &-group {
        display: flex;
        flex-wrap: wrap;

        // padding: 0 30px;
        .el-checkbox {
            width: 49%;
            font-size: 12px;
            box-sizing: border-box;
            padding: 0 20px;
            margin: 1% 1% 2% 0;
            background-color: #ecf5ff;

            &__label {
                font-size: 12px;
            }
        }
    }

}

.budgetDiv {
    display: flex;
    margin-bottom: 20px;
    position: relative;

    .el-date-editor {
        flex-basis: 43%;
        margin-right: 3%;
    }

    .el-input {
        flex-basis: 43%;

    }
}

.addicon {
    position: absolute;
    top: 14px;
    right: 30px;
    cursor: pointer;
}

.delicon {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    cursor: pointer;
}

.flexCol {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    overflow: auto;
    padding-left: 140px!important;
    /deep/.el-scrollbar {
        flex-basis: 100%;
        &__view {
            display: flex;
            flex-wrap: wrap;
        }
    }
    /deep/.el-form-item {
        flex-basis: 42%;
        position: relative;
        padding-right: 7%;
        &:hover {
            .delicon {
                display: block;
                &:hover {
                    color: red;
                }
            }
        }
        &__content {
            width: 100% !important;
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
        }
    }
    /deep/.el-input-group__prepend {
        padding: 0 10px;
    }
}